<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4" style="margin-top: 20vh">
    <h3>Resend confirmation instructions</h3>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-sm btn-outline-dark' %>
      </div>
    <% end %>
    <br>
    <%= render "users/shared/links" %>
  </div>
  <div class="col-md-4" style="margin-top: 20vh">
    <%= image_tag 'resend_img.svg', width: '100%', height: '100%'%>
  </div>
</div>
